<a href="https://colab.research.google.com/github/BratchenkoAA/prog1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ** Лабораторная работа 1**

In [ ]:
# Выполнил: Братченко А.А.
# Группа: ЦИБ-241


a = int(input("a="))
b = int (input('b='))

print(a + b)
print(a-b)
print (a*b)
print (round (a/b, 2))
print (a//b)
print (a%b)
print (a**b)

print(a < b)
print(a<=b)
print (a>b)
print (a>=b)
print (a!=b)
print (a==b)

a=2
b=3
5
-1
6
0.67
0
2
8
True
True
False
False
True
False

In [ ]:
# Задание task_01_02.
#
# Выполнил: Братченко А.А.
# Группа: ЦИБ-241


x = (int(input("x=")))
y = (int(input("y=")))
z = (int(input("z=")))

res = ((((x**5+7)/(abs(-6)*y))*1/3)/(7-z*abs(y)))
rounded_res= round(res, 3)
print (rounded_res)


# --------------
# Пример вывода:
#
# x=0
# y=1
# z=2
# 0.15

x=0
y=1
z=2
0.078

In [ ]:
# Задание task_01_03.
#
# Выполнил: Братченко А.А.
# Группа: ЦИБ-241



r1 = (float(input("r1=")))
r2 = (float(input("r2=")))


r = r1+r2
round_r= round(r, 1)
print (round_r)

r1=12.2
r2=16.1
28.3

In [1]:
# Задание task_01_04.
#
# Выполнил: Братченко А.А.
# Группа: ЦИБ-241




num2 = (int(input('num2=')))
num3 = (int(input('num3=')))

# 1-я цифра числа 'num2'
num2_1 = int(str (num2)[0]) # Удалите комментарий и допишите код
# 2-я цифра числа 'num2'
num2_2 = int(str (num2)[1])

num2_s = (num2_1+num2_2)
num2_p = (num2_1*num2_2)

num3_1 = int(str(num3)[0])
num3_2 = int(str(num3)[1])
num3_3 = int(str(num3)[2])
4
num3_s = (num3_1+num3_2+num3_3)
num3_p = (num3_1*num3_2*num3_3)



print(num2_s,num2_p)
print(num3_s,num3_p)

num2=45
num3=456
9 20
15 120

In [ ]:
# Задание task_01_05.
#
# Выполнил:Братченко А.А.
# Группа: ЦИБ-241


# Количество минут
m =  int(input('m='))# Удалите комментарий и допишите код

# Количество часов, прошедших с начала суток
h = m/60
h1= round(h,0)# Удалите комментарий и допишите код
# Количество минут, прошедших с момента начала последнего часа
m2 = m-h1*60 # Удалите комментарий и допишите код


print(int(h1))
print (int(m2)) # Удалите комментарий и допишите код)
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Количество минут, прошедшее с начала суток: 123
# Количество часов, прошедших с начала суток: 2
# Количество минут, прошедших с момента начала последнего часа: 3

m=123
2
3

In [ ]:
# Задание task_01_06.
#
# Выполнил: Братченкл А.А.
# Группа: ЦИБ-241


a = int (input("a="))# Удалите комментарий и допишите код
b = int (input("b="))# Удалите комментарий и допишите код
m = int (input("m="))# Удалите комментарий и допишите код
n = int (input("n="))# Удалите комментарий и допишите код

ax+b=0

x = # Удалите комментарий и допишите код

is_ok = # Удалите комментарий и допишите код, is_ok - типа bool

print("Попадает:", is_ok)


# --------------
# Пример вывода:
#
# Введите a = 1
# Введите b = 2
# Введите m = -5
# Введите n = 5
# Попадает: True

In [15]:


# Задание task_01_07.
#
# Выполнил: Братченко А.А.
# Группа: ЦИБ-241


team = input("Введите название команды:")

# Удалите комментарий и допишите код)

print(team,"- чемпион!")# Удалите комментарий и допишите код)

count= len(team)

for [_] in range(count):

symbols= ('Символов в названии команды:')
print (symbols, count)



# --------------
# Пример вывода:
#
# Введите название команды: Спартак
# Спартак - чемпион!
# -------
# Символов в названии команды: 7
# Буква "п" есть: True
# Количество букв "а": 2

IndentationError: expected an indented block after 'for' statement on line 15 (<ipython-input-15-b63554a0d275>, line 17)